apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: sample
  name: sample-app
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sample
  template:
    metadata:
      labels:
        app: sample
    spec:
      containers:
      - env:
        - name: ENVIRONMENT
          value: dev
        - name: LOG_LEVEL
          value: debug
        image: nginx:latest
        name: app-container
        ports:
        - containerPort: 80
      - command:
        - sh
        - -c
        - echo Sidecar Running; sleep 3600
        image: busybox:1.36
        name: sidecar-container
